
header{
    background-color: rgb(212, 169, 210);
    padding: 5;
    border-bottom: 2px solid rgb(0, 0, 0);

}
a{
    color: #000000;
}
a:hover{
    background-color:rgb(102, 94, 102);
    color: white;

}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    font-size:larger;
    font-family: 'Lucida Handwriting';
    padding: 1em;
}
nav ul{
    list-style-type: none;
    margin: 0;

}
nav ul li a{
    padding: 1em;
    display: inline-block;
    font-weight: bold;
    font-size: larger;
    font-family: 'Lucida Handwriting';
}
.videoI{
    text-align: center;
}
video {

    position: relative;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
  
  }
  .video-wrapper {
    border: 2px solid #000;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
