
     <head>
        
           
    </head>
    <body>
        <header>
            <div class="container">
                <a href="#" routerLink="/" class="logo"></a>
                <nav>
                    <ul>
                        <li>
                            
                            <a href="#" routerLink="/home" aria-setsize="10px">𝗛𝗢𝗠𝗘🏠</a>
                            
                            <a href="#" routerLink="/login">𝗟𝗢𝗚𝗢𝗨𝗧</a>
                        </li>
                    </ul>
                </nav>
            </div>
               
        </header>
        
        <div style="text-align: center;">
        
            <video width="100" height="100" autoplay>
            <source src="/assets/imagess/Nutri.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
        </div>
    
          </body>
    