
<header>
    <div class="container">
        <a href="#"routerLink="/"class="logo">
            𝗡𝘂𝘁𝗿𝗶𝗩𝗶𝗺 👩‍🍳🥘
        </a>
        <nav>
            <ul>
                <li>
                    <a href="#"routerLink ="/cart-page">𝗪𝗜𝗦𝗛𝗟𝗜𝗦𝗧❤️</a>
                    <a href ="#"routerLink = "/login">𝗟𝗢𝗚𝗢𝗨𝗧</a>
                    
                </li>
            </ul>
        </nav>
    </div>
        
</header>
