
<header>
    <div class="container">
        <a href="#"routerLink="/"class="logo">𝓝𝓤𝓣𝓡𝓘𝓥𝓘𝓜 👩‍🍳🥘
        </a>
        <nav>
            <ul>
                <li>
                </li>
            </ul>
        </nav>
    </div>
        
</header>
