

<div class="bg-img"><br>
<div class = "des">
    <span class = "description">
        <p>{{food.description}}</p>
    </span><br>

</div>

<div class = "content">
    <p> 𝙍𝙚𝙘𝙞𝙥𝙚 𝘿𝙚𝙩𝙖𝙞𝙡𝙨</p>
    </div>
<div class = "procedure">
    <img [src] = "food.ImageUrl" [alt] = "food.name">
</div>
<div class="container">
    <img [src]="food.imageUrl" [alt]="food.name">
   </div>
<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}
        </span>
        
    </div>
    <div class="star">
        <star-rating [value]="food.star" 
        [totalstars]="5" 
        checkedcolor="red" 
        uncheckedcolor="black"
        size="30px" 
        [readonly]="true">
        </star-rating>
    </div>
    <button (click) = "addToCart()">Add to Wishlist</button>
</div>
</div>

