.bg-img {
    background-image: url("src\assets\imagess\blur.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;

}
.container > *{
    min-width :20rem;
    max-width: 30rem;

}
img{
    position: relative;
    border-radius: 3rem;
    flex: 1 0;
    object-fit: cover;
    height: 30rem;
    margin: 1rem;


}
.content{
    margin: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: crimson;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex : 1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 0.5rem;


}
.details .name{
    font-size: 2rem;
    font-weight: bold;


}

.description{
    margin: 3rem;
    font-weight: bold;
}
.des.description span{
    padding : .6rem 2 rem .6rem 0;
    border-radius: 12 rem;
    font-size: 20rem;
}
.details button{
    color: white;
    background-color: rgb(224, 48, 83);
    border: none;
    font-size: 1.2rem;

    padding: 1rem;
    border-radius: 15rem;
    outline: none;

}
.details button :hover{
    opacity: .9;
    cursor: pointer;
}
p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }