header{
    background-color: rgb(212, 169, 210);
    padding: 0;
    border-bottom: 2px solid rgb(12, 11, 11);

}
a{
    color: #000000;
}
a:hover{
    background-color:rgb(102, 94, 102);
    color: white;

}
.container{
    margin: 0auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 1.5rem;
    font-size: 1.5rem;

}
nav ul{
    list-style-type: none;
    margin: 0;

}
nav ul li a{
    padding: 1.5rem;
    display: inline-block;
    font-size: 1.5rem;
}

